<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'post/style.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
</head>
<body>
    <div class="container">
        <div class="header">
        <p class="Heading">Hi {{ request.user.username}}, take a look at your post.</p>
        </div>
        <form method="POST" >
            {% csrf_token %}
        <div class="form-input">
            <input class="post-title" value="{{post.title}}" name="title" placeholder="Input your title" readonly/>
        </div>
        <div class="imagepost">
            <span class="title"{{post.title}}></span>
            {% if post.image == "" %}
            
            {% else %}
            <div>
                <img src="{{post.image.url}}" alt="">
            </div>
            {% endif %}
        
        <div class="form-input"> 
            <textarea class="content-title" name="content" rows="5" placeholder="Please enter your content here" readonly>{{post.content}}</textarea>
        </div>
        </div>
        <div class="Section">
        <div class="back-sect">
            <div class="Back">
                <i class="fa-solid fa-arrow-left"></i>
                <a href="{%url 'posts_list'%}">Back</a>
            </div>
        </div>
        </form>
    </div>
    </div>
</body>
</html>